.texteQuestion{
	width: 100%;
	height: 40px;
	text-align: center;
	color: #51bfd0;
	font-size: 150%;
}

.middleQuestion{
	width: 80%;
	height: 440px;
	border: 1px solid #51bfd0;
	margin-left: 10%;
}

.inputQuestion{
	width: 100%;
	height: 40px;
	margin-top: 10px;
}

.texteQuestionForm{
	font-size: 150%;
	margin-left: 10%;
	float: left;
}