.joueurListe{
	width: 100%;
	height: 500px;
}

.listeJoueur li{
	display: inline;
	margin-right: 3%;
}

.topJoueur{
	width: 100%;
	height: 40px;
	text-align: center;
	color: gray;
}


.middleJoueur{
	width: 80%;
	height: 450px;
	margin-left: 10%;
	border: 1px solid #3addd6;
}

.bottomJoueur{
	width: 100%;
	height: 55px;
}

.suivant{
	width: 15%;
	height: 30px;
	color: white;
	background-color: #3addd6;
	cursor: pointer;
	float: right;
	margin-right:  10%;
	margin-top: 10px;
	font-size: 150%;
	font-weight: bolder;
}

.precedent{
	width: 18%;
	height: 30px;
	color: white;
	background-color: #3addd6;
	cursor: pointer;
	float: left;
	margin-left: 10%;
	margin-top: 10px;
	font-size: 150%;
	font-weight: bolder;
}